.button {
    border-radius: 19px;
    background-color: #2a87e0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: small;
    font-weight: bold;
    font-family: Poppins,sans-serif;
    padding: 20px;
    width: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .button span:after {
    /* content: '\00ab'; */
  position: absolute;
  opacity: 0;
  font-size: large;
  color: #FFFFFF;
  top: 0;
  left: 20px;
  transition: 0.5s;
  }
  
  .button:hover span {
    padding-left: -25px;
  }
  .button:hover  {
    background-color: #0b59a1;

  } 
  .buttonback:hover  {
    background-color: #0b59a1;

  }
  .button:hover span:after {
    opacity: 1;
    left: 0;
  }
  .buttonback {
    border-radius: 19px;
    background-color: #2a87e0;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: small;
    font-weight: bold;
    font-family: Poppins,sans-serif;
    padding: 20px;
    width: 40px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
  }
  
  .buttonback span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .buttonback span:after {
    /* content: '\00bb'; */
    position: absolute;
    opacity: 0;
    font-size: large;
    color: #FFFFFF;
  top: 0;
  right: -20px;
    transition: 0.5s;
  }
  
  .buttonback:hover span {
    padding-right: -25px;
  }
  
  .buttonback:hover span:after {
    opacity: 1;
    right: 0;
  }
 